<link rel="import" href="../../bower_components/polymer/polymer.html">
<script src="https://code.jquery.com/jquery-3.1.0.js"></script> <!-- added to use jQuery -->

<dom-module id="oppgave13-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <select id="type" on-change="typeChanged">
      <option value="length">Lengde</option>
      <option value="temp">Temperatur</option>
    </select>
    <select id="conversion" on-change="convChanged">
      <option value='km2m'>km til miles</option>
      <option value='m2km'>miles til km</option>
    </select><br>
    <input type="number" value="{{origin::input}}"/> -> <input type="text" value="[[calculated]]"/>
  </template>

  <script>
    Polymer({

      is: 'oppgave13-app',

      properties: {
        calculated: {
          type: String,
          computed: 'calculate(origin)'
        }
      },
      calculate: function (origin) {
        // because of reuse possibilities logic moved to convertValues()
        var result = this.convertValues(origin);
        return result;
      },

/**
 *  Decided to move calculation out of this.calculate(origin) to have possibility to
 *  update result-'input'-field from on-change functions
 *  @method convertValues
 *  @param  {[type]}      inputValue [description]
 *  @return {[type]}                 [description]
 */
      convertValues (inputValue) {
        var type = $("[id=type]")[0].value;
        var conv = $("[id=conversion]")[0].value;

        var result;
        // find proper factor to calculate 'origin' input to proper new value that is returned
        if (type === "length") {
          if (conv === "km2m") {  // km -> miles
            result = 1.609344 * inputValue;
          } else {                // miles -> km
            result = 0.6214 * inputValue;
          }
        } else {
          if (conv === "f2c") {   // F -> C
            result = (inputValue - 32) * 5 / 9;
          } else {                // C -> F
            result = (inputValue * 1.8) + 32;
          }
        }
        return result.toFixed(2);     // use only 2 decimal (rounded)
      },

/**
 *  From event (e) gets source element on which was 'changed' and replace values
 *  in proper <select><option>s
 *  @method
 *  @param  windows.event  e
 */
      typeChanged: function (e) {
        // toggle conversion options values
        var newType = e.srcElement.value;   // switch to new length/temp
        if (newType === "temp") {           // replace 'value' and 'text' of 'options'
          var newOpt = $("[id=conversion] option");
          newOpt[0].value = 'f2c';
          newOpt[0].text = 'F til C';
          newOpt[1].value = 'c2f';
          newOpt[1].text = 'C til F';
        } else {                            // replace 'value' and 'text' of 'options'
          var newOpt = $("[id=conversion] option");
          newOpt[0].value = 'km2m';
          newOpt[0].text = 'km til miles';
          newOpt[1].value = 'm2km';
          newOpt[1].text = 'miles til km';
        }
        // recalculate input value
        // (4-th child of 'oppgave13-app' is 'input' I want to access for input value
        // and 5-th child is where to put calculated new value)
        var currentInput = $(this).children()[3].value;
        $(this).children()[4].value = this.convertValues(currentInput);
      },

/**
 *  This time I don't need event (e) source only current state of 'input'
 *  Recalculated value returned from convertValues()
 *  @method
 *  @param  windows.event  e
 */
      convChanged: function (e) {
        // recalculate input value
        // (4-th child of 'oppgave13-app' is 'input' I want to access for input value
        // and 5-th child is where to put calculated new value)
        var currentInput = $(this).children()[3].value;
        $(this).children()[4].value = this.convertValues(currentInput);
      }

    });
  </script>
</dom-module>
