<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="oppgave-13a">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- used {{propertyName::input}} to bind data to property
      'h1' needs only one-way binding that's why used [[]] -->
<input type="text" value="{{textField::input}}"></input>
<h1>Hei [[textField]]</h>

  </template>

  <script>
    Polymer({

      is: 'oppgave-13a',

      properties: {
        textField: {
          type: String
        },
      },

    });
  </script>
</dom-module>
